div {
    width: 200px;
    height: 200px;
    background: #06F;
    transition: 2s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

div:hover {
    transition: 2s;
    border-radius: 20px;
    width: 600px;
    height: 300px;
    background: rgb(92, 255, 92);

}